server:
  port: 8083
  servlet:
    context-path: /

spring:
  application:
    name: order-service
  
  # 数据库配置
  datasource:
    url: jdbc:mysql://localhost:3306/ecopm_order?useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 1234