server:
  port: 8082
  servlet:
    context-path: /

spring:
  application:
    name: product-service

  # 数据库配置
  datasource:
    url: jdbc:mysql://localhost:3306/ecopm_product?useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA配置
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect